
header{

    width: 100%;
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0%;
    backdrop-filter: blur(10px);
    background-color:#00000067;
    z-index: 200;
    height: 100px;
}  

menu {
    
    flex-wrap: wrap;
    justify-content: space-between;
    font-size: 20px;
    padding: 0 0;
    align-items: center;
    background-color: #000000;
    z-index: 90;
    border-radius: 10px;
}



.brand {
    position: relative;
    display: block;
    align-items: center;
    justify-content: center;
    align-content: center;
    margin: 20px 20px;
    
}

.brand:hover {
    
}

@keyframes righ-shift {
    0%{transform: translateX(0px);}
    100%{transform: translateX(60px);}
}


.top-menu{
    display: flex;
    justify-content: center;
    
    padding-right: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-inline: 10px;
    
    
    text-align: center;
    align-items: center;
    flex-wrap: wrap;
    border: 2px solid #0e2972;
    border-radius: 5px;
    transition: 0.2s;
}


.top-menu:hover{
    text-shadow: 0 0 10px #fdf0cd, 0 0 20px #f8dc8e, 0 0 50px #ffd04f;
}

.top-ref{
    display: inline;
    font-family: Helvetica;
    font-weight: lighter;
    font-size: 3vh ;
    min-width: 250px;
    padding: 20px 20px;
    text-transform: uppercase;
    text-decoration: none;
    color: #fbd160;

}


.hex-contact{
    
    margin: 10px 10px;
    width: 10vh;
    height: 10vh;

    display: flex;
    flex-wrap: unset;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
    clip-path: polygon(
        50% 0%,
        100% 25%,
        100% 75%,
        50% 100%,
        0% 75%,
        0% 25%
    );
    transition: 0.2s;
    background-color:rgba(150, 150, 150, 0.233);
}

.hex-contact:hover{
    transform: scale(1.1);
    background-color: #fbd160;

    
}




.sns-icons{
    width: 6vh;
    height: 6vh;
}

#burger-menu, [for=burger-menu]{
    display: none;}


ul{
    margin: 0 auto;
    padding: 0 0;
    display: flex;
    justify-content: right;
    
}

li {
    list-style-type: none; 
    display: flex;
    justify-content: center;

}





@media screen and ( max-width: 840px){
    p#cross-mark{
        display: none;
        position: absolute;
        font-size: 50px;
        width: 50px;
        text-align: center;
        right: 50px;
        color: #f8dc8e;
        z-index: 202;
    }
    [for=burger-menu]{
        display: block;
        position: absolute;
        font-size: 50px;
        width: 50px;
        text-align: center;
        right: 50px;
        color: #f8dc8e;
        z-index: 202;
    }
    menu{
        display: block;
        position: absolute;
        top: 100px;
        width: 100%;
        z-index: 80;
        right: 0px;
        animation: hide-menu 0.3s forwards;
    }
    .top-ref{
        padding-top: 0;
        padding-bottom: 0;
    }
    ul{
        display: block;
        width: 100%;
    }
    li{
        display: inline;
        padding: 0 0;
    }
    
    #burger-menu:checked + label{
        display: none;
        
    }
    #burger-menu:checked + label + menu{
        display: block;
        position: absolute;
        top: 100px;
        right: 0px;
        z-index: 80;
        animation: show-menu 0.3s forwards;
    }
    /* #burger-menu:disabled + label + menu{
        display: block;
        position: absolute;
        top: 20px;
        right: -1000px;
        animation: hide-menu 0.2s forwards;
    } */
    @keyframes hide-burger {
        0% {transform: opacity(100%);}
        100% {transform: opacity(0%);}
    }
    @keyframes show-menu {
        0% {transform: translateY(-400px);}
        100% {transform: translateY(0px);}
    }
    @keyframes hide-menu {
        0% {transform: translateY(0px);}
        100% {transform: translateY(-400px);}
    }
}
