
header{

    width: 100%;
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: center;
    font-size: 20px;
    margin-top: 40px;
}  

.brand{
    
    position: relative;
    display: block;
    align-items: center;
    justify-content: center;
    align-content: center;
}

.top-menu{
    display: flex;
    justify-content: center;
    padding-left: 10px;
    padding-right: 10px;
    margin-inline: 10px;
    
    
    text-align: center;
    align-items: center;
    flex-wrap: wrap;
    transition: 0.2s;
}


.top-menu:hover{
    text-shadow: 0 0 10px #fdf0cd, 0 0 20px #f8dc8e, 0 0 50px #ffd04f;
}

.top-ref{
    display: inline;
    font-family: Helvetica;
    font-weight: lighter;
    font-size: 3vh ;
    min-width: 250px;
    padding-top: 20px;
    padding-bottom: 20px;
    text-transform: uppercase;
    text-decoration: none;
    color: #fbd160;

}


.hex-contact{
    
    margin: 10px 10px;
    width: 10vh;
    height: 10vh;

    display: flex;
    flex-wrap: unset;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
    clip-path: polygon(
        50% 0%,
        100% 25%,
        100% 75%,
        50% 100%,
        0% 75%,
        0% 25%
    );
    transition: 0.2s;
    background-color:rgba(150, 150, 150, 0.233);
}

.hex-contact:hover{
    transform: scale(1.1);
    background-color: #fbd160;

    
}




.sns-icons{
    width: 6vh;
    height: 6vh;
}
