
header{

    width: 100%;
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0%;
    background-color:#000000;
    z-index: 300;
    height: 5rem;
}  

menu {
    
    display: flex;
    vertical-align: middle;
    flex-wrap: wrap;
    justify-content: space-between;
    height: 4rem;
    padding: 0 0;
    align-items: center;
    background-color: #000000;
    z-index: 90;
    
}



.brand {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    margin: 0px 20px;
    color: #f8dc8e;
    
}

.brand .top-ref{
    display: inline;
    font-family: Helvetica;
    font-weight: lighter;
    font-size: 30px;
    min-width: 250px;
    padding: 20px 20px;
    text-transform: uppercase;
    text-decoration: none;
    color: #ffffff;
}

.brand:hover {
    
}

@keyframes righ-shift {
    0%{transform: translateX(0px);}
    100%{transform: translateX(60px);}
}


.top-menu{
    display: flex;
    justify-content: center;
    
    padding-top: 10px;
    padding-bottom: 10px;
    margin-inline: 10px;
    
    font-size: 30px;
    text-align: center;
    align-items: center;
    flex-wrap: wrap;
    
    transition: 0.2s;
}


.top-menu:hover{
    text-shadow: 0 0 10px #fdf0cd, 0 0 20px #f8dc8e, 0 0 50px #ffd04f;
}

.top-ref{
    display: inline;
    font-family: Helvetica;
    font-weight: lighter;
    font-size: 2rem ;
    min-width: 250px;
    text-transform: uppercase;
    text-decoration: none;
    color: white;

}

#burger-menu, [for=burger-menu]{
    display: none;}


ul{
    margin: 0 auto;
    padding: 0 0;
    display: flex;
    justify-content: right;
    
}

li {
    list-style-type: none; 
    display: flex;
    justify-content: center;

}





@media screen and ( max-width: 1000px){
    p#cross-mark{
        display: none;
        position: absolute;
        font-size: 30px;
        width: 50px;
        text-align: center;
        right: 50px;
        color: #f8dc8e;
        z-index: 202;
        font-family: sans-serif;
    }
    [for=burger-menu]{
        display: block;
        position: absolute;
        font-size: 30px;
        width: 50px;
        text-align: center;
        right: 50px;
        color: #f8dc8e;
        z-index: 202;
        padding: 0 0;
        font-family: sans-serif;
    }
    menu{
        display: block;
        position: absolute;
        top: 5rem;
        width: 100%;
        height: auto;
        
        z-index: 80;
        right: 0px;
        animation: hide-menu 0.3s forwards;
    }
    .top-ref{
        padding-top: 0;
        padding-bottom: 0;
    }
    ul{
        display: block;
        width: 100%;
    }
    li{
        display: inline;
        padding: 0 0;
    }
    
    #burger-menu:checked + label{
        display: none;
        
    }
    #burger-menu:checked + label + menu{
        display: block;
        position: absolute;

        background: linear-gradient(to bottom,#01161f 0%,black 100%);
        top: 5rem;
        right: 0px;
        z-index: 80;
        animation: show-menu 0.3s forwards;
    }
    /* #burger-menu:disabled + label + menu{
        display: block;
        position: absolute;
        top: 20px;
        right: -1000px;
        animation: hide-menu 0.2s forwards;
    } */
    @keyframes hide-burger {
        0% {transform: opacity(100%);}
        100% {transform: opacity(0%);}
    }
    @keyframes show-menu {
        0% {transform: translateY(-400px);}
        100% {transform: translateY(0px);}
    }
    @keyframes hide-menu {
        0% {transform: translateY(0px);}
        100% {transform: translateY(-400px);}
    }
}
