
*{
    margin: 0 0;
}

@font-face {
    font-family: "San Francisco";
    font-weight: 400;
    src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-regular-webfont.woff");
  }

@font-face {
    font-family: 'Roboto';
    src: url('Roboto-ThinItalic-webfont.eot');
    src: url('Roboto-ThinItalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('Roboto-ThinItalic-webfont.woff') format('woff'),
         url('Roboto-ThinItalic-webfont.ttf') format('truetype'),
         url('Roboto-ThinItalic-webfont.svg#RobotoThinItalic') format('svg'); 

}

body{
    
    background-image: linear-gradient(to top, rgb(0, 0, 0) 50%,  rgba(82, 82, 82, 0.781) 100%), url(../images/5293464.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    font-family: 'Roboto';
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    user-select: none;
    background-color: black;
}

:root{
    --hex_ref_width_out: 300px;
    --min_width_to_mobile: 800px;   

}







.content{
    
    
    position: absolute;
    padding: 7rem 0;
    width: 100%;
    display: block;
    flex-wrap: wrap;
    justify-content: center;
    font-size: 2vh;
    height: auto;
    flex-grow: 1;
}


@media screen and (max-width: 840px) {
    .content{
        padding: 20% 0;
    }
    footer{
    
        position: absolute;
        left:0;
        bottom: 0;
        text-align: center;
        justify-content: space-between;
        align-items: center;
        background: black;
        height: 100px;
    
    }
}
