{% extends 'base.html' %}

{% block content %}
{% load static %}
<div class="contacts-content">
    <p class="how-to-contact" style="color:antiquewhite; text-transform: uppercase; font-size: 50px;">
        Как с нами связаться
    </p>
    <div class="adresses">
        <div class="hex-contact">
            <a href="https://www.instagram.com/bfmt.company/" target="_blank">
                <img class="sns-icons" src="{% static 'images/inst.png' %}">
            </a>
        </div>
        <div class="hex-contact">
            <a href="#">
                <img class="sns-icons" src="{% static 'images/inst2.png' %}">
            </a>
            
        </div>
        <div class="hex-contact">
            <a href="https://www.youtube.com/@FitoMir103" target="_blank" >
                <img class="sns-icons" src="{% static 'images/iyoutube.png' %}">
            </a>
        </div>
        <div class="hex-contact">
            <a href="https://www.youtube.com/@FitoMir103" target="_blank" style="filter: invert(1);">
                <img class="sns-icons" src="{% static 'images/iwhats.png' %}">
            </a>
        </div>
    </div>
    <div class="adresses">
        
            <div class="adress">
                <a href="tel:79005710477" alt="Call +79005710477">
                    <img src="{% static 'images/phone_call.png'%}" style="filter: invert(1);width: 80px; height: 80px;">
                </a>
                <p>Регистратура</p>
                <p>79005710477</p>
            </div>
            
        
        <div class="adress">
            <a href="https://yandex.ru/map-widget/v1/?z=12&ol=biz&oid=139553179030" target="_blank">
                <img src="{% static 'images/pin_map.png'%}" style="width: 80px; height: 80px;">
            </a>
            <h2>ШЫМКЕНТ</h2>
            <p>1-ый переулок Байтурсынова</p>
            <p>7/7 (Утеген Батыра 27)</p> 
        </div>
        <div class="adress">
            <a href="https://yandex.ru/map-widget/v1/?z=12&ol=biz&oid=74541258455" target="_blank">
                <img src="{% static 'images/pin_map.png'%}" style="width: 80px; height: 80px;">
            </a>
            <h2>АЛМАТЫ</h2>
            <p>ул. Ауэзова</p>
            <p>145В, 211каб.</p>
        </div>
    </div>

    <div class="map-yandex" style="width: 100%;">
        <iframe src="https://api-maps.yandex.ru/frame/v1//?z=12&ol=biz&oid=139553179030" frameborder="0" width="100%" height="400px" scrolling="no"></iframe>
    </div>
    
    <div class="request-form">
        <h3>Хотите задать вопрос?</h3>
        <p>Заполните форму</p>
        <form class="send-question"
        method="post"
        >
            {% csrf_token %}
            <label for="form-name">Имя</label><input type="text" name="name" id="form-name">
            <label for="form-email">E-main</label><input type="email" name="e-mail" id="form-email">
            <label for="form-question">Вопрос</label><textarea  name="question" id="form-question"></textarea>
            <button id="submit-reply" type="submit">Отправить</button>
            
            
        </form>
    </div>
    

</div>

{% endblock %}