<!DOCTYPE html >
<head>
    
    <title> HFMT company - молодой стартап о современных технологиях</title>
    {% load static %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="description" content="BFMT company - молодой стартап из Шымкента, занимающийся разработкой протезов, натуральной медициной">

    <base href="/">
    <link rel="shortcut icon" href="{% static 'images/hfmt.jpeg' %}" type="image/png">
    <link href="{% static 'styles/index.css' %}" rel="stylesheet">
    <link href="{% static 'styles/homePage.css' %}" rel="stylesheet">
    <link href="{% static 'styles/contactsPage.css' %}" rel="stylesheet">
    <link href="{% static 'styles/aboutPage.css' %}" rel="stylesheet">
    <link href="{% static 'styles/header.css' %}" rel="stylesheet">
    <link href="{% static 'styles/footer.css' %}" rel="stylesheet">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://unpkg.com/htmx.org@1.9.2" integrity="sha384-L6OqL9pRWyyFU3+/bjdSri+iIphTN/bvYyM37tICVyOJkWZLpP2vGn6VUEXgzg6h" crossorigin="anonymous"></script>

</head>