
{% block header %}
{% load static %}
<header>
    
    <a 
    href="/"
    hx-get="/"
    hx-target="#main-content"
    hx-swap="outerHTML"
    hx-push-url="true"> 
        <div class="brand">
            <img style="width:15vh; height:10vh;" src="{% static 'images/hfmt.jpeg' %}">
        </div>
     
    </a>

   
        <div class="top-menu">

            <a class="top-ref" href="/about/"
                                hx-get="/about/"
                                hx-target="#main-content"
                                hx-swap="outerHTML"
                                hx-push-url="true"> О нас</a>
        </div>

    <div class="top-menu">
        <a class="top-ref" href="/contacts/"
                                hx-get="/contacts/"
                                hx-target="#main-content"
                                hx-swap="outerHTML"
                                hx-push-url="true"> контакты </a>
    </div>
    <div class="top-menu">
        <a class="top-ref" href="#contacts"> обратная связь </a>
    </div>
    <div class="top-menu">
        
        <div class="hex-contact">
            <a href="https://www.instagram.com/bfmt.company/" target="_blank">
                <img class="sns-icons" src="{% static 'images/inst.png' %}">
            </a>
        </div>
        <div class="hex-contact">
            <a href="#">
                <img class="sns-icons" src="{% static 'images/inst2.png' %}">
            </a>
            
        </div>
        <div class="hex-contact">
            <a href="https://www.youtube.com/@FitoMir103" target="_blank">
                <img class="sns-icons" src="{% static 'images/iyoutube.png' %}">
            </a>
        </div>
        <div class="hex-contact">
            <a href="https://www.youtube.com/@FitoMir103" target="_blank">
                <img class="sns-icons" src="{% static 'images/iwhats.png' %}">
            </a>
        </div>
    </div>
    
</header>
{% endblock %}