
{% block header %}
{% load static %}
<header>
    <script>
        
        addEventListener('click', function(event){
            const checkbox =  document.getElementById('burger-menu');
            const cross_mark =  document.getElementById('cross-mark');

            if (event.target !== checkbox){
                checkbox.checked = false;
            }
            

            if (checkbox.checked){
                cross_mark.style.display = 'block';
            }else
            {
                cross_mark.style.display = 'none';
            }
        });

        

        
        
    </script>
    <a 
        href="/"
        hx-get="/"
        hx-target="#main-content"
        hx-swap="outerHTML"
        hx-push-url="true"
        style="text-decoration: none;"> 
            <div class="brand">
                <h2 class="top-ref">BFMT</h2>
            </div>
            
        </a>
    <p id="cross-mark">✖</p>
    <input type="checkbox" id="burger-menu">
    <label for="burger-menu">☰</label>
    <menu id="menu-burger">
        <ul>

        <li>
            <a class="top-ref" href="/about/"
                                    hx-get="/about/"
                                    hx-target="#main-content"
                                    hx-swap="outerHTML"
                                    hx-push-url="true"> 
            <div class="top-menu">

                О нас
            </div>
            </a>
        </li>

        <li>
            <a class="top-ref" href="/contacts/"
                                        hx-get="/contacts/"
                                        hx-target="#main-content"
                                        hx-swap="outerHTML"
                                        hx-push-url="true">
            <div class="top-menu">
                 контакты 
            </div>
            </a>
        </li>
        </ul>
    </menu>
    

</header>
{% endblock %}