
{% extends 'base.html' %}

{% block content %}

    <div class="slogan">
        <h1>BFMT COMPANY</h1>
        <h2>Будущее рядом</h2>
    </div>

    <div class="placeholder">

        <div class="hex-ref" id="shop-medfitomir">
            <a href="https://shop.medfitomir.kz/">
            <div class="hex-ref-content" id="shop-medfitomir">
            </div>
            </a>
        </div>

        <div class="hex-ref" id="protez">
            <a href="#">
                <div class="hex-ref-content" id="protez">
                    asdsd
                </div>
            </a>
            
        </div>
        <div class="hex-ref-center">
            <a href="#">
                <div class="hex-ref-content">
                    asdsd
                </div>
            </a>
            
        </div>
        <div class="hex-ref" id="exo-systems" >
            <a href="#">
                <div class="hex-ref-content" id="exo-systems" >
                    asdsd
                </div>
            </a>
            
        </div>
        <div class="hex-ref" id="drags">
            <a href="#">
                <div class="hex-ref-content" id="drags">
                    asdsd
                    
                </div>
            </a>
            
        </div>
        
    </div>


{% endblock %}
