
{% extends 'base.html' %}

{% block content %}
{% load static %}

    <div class="slogan">
        <h1>BFMT COMPANY</h1>
        <h2>Будущее рядом</h2>
    </div>

    <div class="placeholder">

        <div class="hex-ref" id="shop-medfitomir">
            <a href="https://shop.medfitomir.kz/" id="shop-medfitomir">
            <div class="hex-ref-content" id="shop-medfitomir">
                <h2 class="hex-descr" >Поставки современного медицинского оборудования и товаров</h2>
            </div>
            </a>
        </div>

        <div class="hex-ref" id="protez">
            <a href="#">
                <div class="hex-ref-content" id="protez">
                    <h2 class="hex-descr" >Изготовление протезов конечностей под заказ по современным технологиям</h2>
                </div>
            </a>
            
        </div>
        <div class="hex-ref-center" id="hex-cross">
            <a href="#">
                <div class="hex-ref-content" id="hex-cross">
                    <h2 class="hex-descr" > Посетите наш магазин</h2>
                </div>
            </a>
            
        </div>
        <div class="hex-ref" id="exo-systems" >
            <a href="#">
                <div class="hex-ref-content" id="exo-systems" >
                    <h2 class="hex-descr" >Разработка вспомогательных систем для после травмы</h2>
                </div>
            </a>
            
        </div>
        <div class="hex-ref" id="drags">
            <a href="#">
                <div class="hex-ref-content" id="drags">
                    <h2 class="hex-descr" >Лекарства по рецептам народной медицины</h2>
                </div>
            </a>
            
        </div>
        
    </div>


{% endblock %}
