
{% extends 'base.html' %}

{% block content %}
{% load static %}

    <div class="slogan">
        <h1>BFMT COMPANY</h1>
        <h2>Будущее рядом</h2>
    </div>

    <div class="placeholder">

        <div class="hex-ref" id="shop-medfitomir">
            <a href="https://shop.medfitomir.kz/">
            <div class="hex-ref-content" id="shop-medfitomir">
                <img src="{% static 'images/equipment.png' %}" style="width: calc(var(--hex_ref_width_out)*0.6); height: calc(var(--hex_ref_width_out)*0.6);">
            </div>
            </a>
        </div>

        <div class="hex-ref" id="protez">
            <a href="#">
                <div class="hex-ref-content" id="protez">
                    <img src="{% static 'images/hand.png' %}" style="filter: invert(1);width: calc(var(--hex_ref_width_out)*0.6); height: calc(var(--hex_ref_width_out)*0.6);">
                </div>
            </a>
            
        </div>
        <div class="hex-ref-center">
            <a href="#">
                <div class="hex-ref-content">
                    <img src="{% static 'images/cross.png' %}" style="filter: invert(1); width: calc(var(--hex_ref_width_out)*0.6); height: calc(var(--hex_ref_width_out)*0.6);">
                </div>
            </a>
            
        </div>
        <div class="hex-ref" id="exo-systems" >
            <a href="#">
                <div class="hex-ref-content" id="exo-systems" >
                    <img src="{% static 'images/skelete.png' %}" style="filter: invert(1); width: calc(var(--hex_ref_width_out)*0.6); height: calc(var(--hex_ref_width_out)*0.6);">
                </div>
            </a>
            
        </div>
        <div class="hex-ref" id="drags">
            <a href="#">
                <div class="hex-ref-content" id="drags">
                    <img src="{% static 'images/stupka.png' %}" style="width: calc(var(--hex_ref_width_out)*0.6); height: calc(var(--hex_ref_width_out)*0.6);">
                    
                </div>
            </a>
            
        </div>
        
    </div>


{% endblock %}
